body{
text-align: left;
font: Regular 28px/38px Open Sans;
letter-spacing: 0;
color: #2C2C2C;
opacity: 1;
width: 100%;
background: red;
}
body h2
{
text-align: center;
font: Bold 56px/68px Montserrat;
letter-spacing: 0;
color: #2C2C2C;
opacity: 1;
}
.navbar{
	
	position: fixed;
	top: 0;

	width: 100%;
	height: 100px;
	  overflow: hidden;
	  background-image: linear-gradient(blue,transparent); 
 
}
.nav-box {
	position: absolute;
	padding-left: 30%;
	
}
.nav-link{
position: relative;
margin-right: 80px;
font-size: 20px;
font: SemiBold 22px/30px Open Sans;
letter-spacing: 0;
color: #ffffff;
opacity: 1;

}
.teste{
	width: 100%;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	background-image: linear-gradient(white,green);
	
	
	margin-top:  1000px;
}